<section class="container" >
    <div class="content">
        <h1> PLAYER 1</h1>
        <div class="player1Choice">
            <img id="batu" src="images/batu.png" class="batu"  onclick="pickOption('batu')">
            <img id="kertas" src="images/kertas.png" class="kertas"  onclick="pickOption('kertas')">
            <img id="gunting" src="images/gunting.png" class="gunting"  onclick="pickOption('gunting')">
        </div>
    </div>
    </div>

    <div class="content-2">
        <h1 class="text_vs"> VS </h1>
        <span id="result"></span>
        <img src="images/refresh.png" id="refresh">
    </div> 

    <div class="content-3">
        <h1> PLAYER 2 </h1>
        <div class="player2Choice" >
            <img id="batu-2" src="images/batu.png" class="batu">
            <img id="kertas-2" src="images/kertas.png" class="kertas">
            <img id="gunting-2" src="images/gunting.png" class="gunting">
        </div>
    </div>
   
   
</section>