<nav class="navbar navbar-expand-lg ">
    <div class="icon">
        <a href="/TraditionalGame">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
        </a>
    </div>

    <div class="frame-1">
        <div class="frame-2">
            <div class="frame-3" >
                <img src="images/gunting.png">
                <img src="images/kertas.png">
                <img src="images/batu.png">
            </div>
        </div>
    </div>

    <div class="title">
        <h2 class="title"> ROCK PAPER SCISSORS </h2>
    </div>

</nav>