<section id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="text-white mb-5">
            <h5>What's so special?</h5>
            <h1>FEATURES</h1>
          </div>
          <div class="text-white">
            <ul class="game-list">
              <li class="game-item mb-5 active">
                <h5>TRADITIONAL GAME</h5>
                <p>If you miss your childhood, we provide many traditional game here</p>
              </li>
              <li class="game-item mb-5 inactive">
                <h5>GAME SUIT</h5>
              </li>
              <li class="game-item mb-5 inactive">
                <h5>TBD</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>
