<section id="home" class="hero">
    <main class="content">
      <h1> PLAY TRADITIONAL GAME </h1>
      <p> Experince new traditional game play </p>
      <a href="/SuitGame" method="post" class="play"> PLAY NOW</a>
    </main>
    <div>
     <p>THE STORY</p>
    </div>
</section>