<nav class="navbar">
    <a href="#" class="logo">LOGO</a>
   
    <div class="navbar-2">
      <a href="#home">HOME</a>
      <a href="#work">WORK</a>
      <a href="#contact">CONTACT</a>
      <a href="#about me">ABOUT ME</a>
    </div> 
   
    <div class="navbar-3">
      <a href="/register">SIGN UP</a>
      <a href="/login" method="post">LOGIN</a>
    </div>
  </nav>