<section id="newsletter" class="d-flex align-items-center">
    <div class="container text-white">
        <div class="row">
            <div id="newsletter-bg">
                <img class="img-fluid" src="images/skull.png" alt="">
            </div>
            <div id="newsletter-text">
                <p>Want to stay in touch?</p>
                <h1>NEWSLETTER <br> SUBSCRIBE</h1>
                <p>
                    In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam.
                </p>
                <div class="container">
                    <form class="row">
                        <div class="form-label-group col-md-4 mb-3 p-md-1 p-0">
                            <input type="email" id="inputEmail" class="form-control form-binar" placeholder="Your email address" value="youremail@binar.co.id" disabled>
                            <label for="inputEmail" style="color: #aaa;">Your email address</label>
                        </div>
                        <div class="col-md-4 mb-3 p-md-1 p-0">
                            <button type="submit" class="btn btn-warning w-100" style="height: 50px;">Subscribe now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>