<section id="top-score">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 text-white mb-5">
          <h1>TOP SCORE</h1>
          <p>This top score from various games provided on this platform</p>
          <button type="button" class="btn">see more</button>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <div class="card mb-5">
            <div class="card-body">
              <div class="mb-3">
                <img class="avatar" src="images/evan-lahti.jpg" class="img-fluid" alt="">
                <h5 class="card-title">Evan Lahti</h5>
                <h6 class="card-subtitle mb-2 text-muted">PC Gamer</h6>
                <img src="images/twitter-card.png"></img>
              </div>
              <p class="card-text text-white">"One of my gaming highlights of the year."</p>
              <p class="card-text">
                <small class="text-muted">June 18, 2021</small>
              </p>
            </div>
          </div>
          <div class="card mb-5 card-middle">
            <div class="card-body">
              <div class="mb-3">
                <img class="avatar" src="images/jada-griffin.jpg" class="img-fluid" alt="">
                <h5 class="card-title">Jada Griffin</h5>
                <h6 class="card-subtitle mb-2 text-muted">Nerdreactor</h6>
                <img style="position: relative; right: -40px;" src="images/twitter-card.png"></img>
              </div>
              <p class="card-text text-white">"One of my gaming highlights of the year."</p>
              <p class="card-text">
                <small class="text-muted">June 18, 2021</small>
              </p>
            </div>
          </div>
          <div class="card mb-5">
            <div class="card-body">
              <div class="mb-3">
                <img class="avatar" src="images/aaron-williams.jpg" class="img-fluid" alt="">
                <h5 class="card-title">Aaron Williams</h5>
                <h6 class="card-subtitle mb-2 text-muted">Uproxx</h6>
                <img src="images/twitter-card.png"></img>
              </div>
              <p class="card-text text-white">"One of my gaming highlights of the year."</p>
              <p class="card-text">
                <small class="text-muted">June 18, 2021</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>